
.article{
    display: block;  
    width: 100%;
    height: 100%;
    background-color: var(--p5-gris-fonce);          
}


.article__div{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;
}


.article__figure{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin: 0;
}


.article__h3{
    margin-bottom: 10px;
    color: var(--p5-rouge);
}


.article__p{
    margin-bottom: 10px;
    line-height: 1.5;
    color: #e0e0e0;
}

.article__img{
    display: block;
    width: 100%;
}


.article__figcaption{
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 5px;
    color: var(--p5-gris-clair);
}


.article:nth-of-type(odd) .article__figure{
    order: -1;
}

