
.article{
    display: block;
    /*gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px 0;*/    
    width: 100%;
    height: 100%;          
}


.article__div{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;
}


.article__figure{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    margin: 0;
}


.article__h3{
    margin-bottom: 10px;
}


.article__p{
    margin-bottom: 10px;
    line-height: 1.5;
}

.article__img{
    display: block;
    width: 100%;
}


.article__figcaption{
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 5px;
}


.article:nth-of-type(odd) .article__figure{
    order: -1;
}

