.formulaire {           
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    background-color: rgb(130, 175, 175); 
    padding: 40px 0;
}

.formulaire__ligne {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 80%;
    max-width: 400px;
}
.formulaire__label {
    color: white;
    font-size: 1rem;
    margin-bottom: 5px;
    align-self: flex-start;
}

.formulaire__input {
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}

.formulaire__rad {
    margin-left: 5px;
    margin-right: 15px;
}

.formulaire__submit {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(84, 128, 194);
    color: white;
    font-weight: bold;
}

.formulaire__submit:hover {
    background-color: rgb(51, 85, 160);
}