.formulaire {           
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    background-color: #0f0f0f;
    color: var(--p5-blanc); 
    padding: 40px 0;
}

.formulaire__ligne {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 80%;
    max-width: 400px;
}
.formulaire__label {
    color: white;
    font-size: 1rem;
    margin-bottom: 5px;
    align-self: flex-start;
}

.formulaire__input {
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--p5-gris-fonce);
    color: #fff;
    border: 1px solid #333;
}

.formulaire__rad {
    margin-left: 5px;
    margin-right: 15px;
}

.formulaire__submit {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: var(--p5-rouge);
    color: #fff;
    font-weight: bold;
}

.formulaire__submit:hover {
    background-color: #ff0026;
}
.formulaire__input:focus {
  border-color: var(--p5-rouge);
}