
.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 1.5rem;
}

.galerie__figure {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: #000;
}


.galerie__img {
  width: 100%;
  height: 525px;
  object-fit: cover;
  display: block;

  filter: grayscale(70%);
  transition: transform 250ms ease, filter 250ms ease;
}


.galerie__caption {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding: 0.75rem 1rem;

  background: rgba(0, 0, 0, 0.219);
  color: rgb(197, 58, 70);

  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  z-index: 2;
}


.galerie__figure:hover .galerie__img {
  filter: grayscale(0%);
  transform: scale(1.05);
}
