
#accueil {
  position: relative;
}

#accueil .recherche {
  position: absolute;
  top: 30px;              
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
}
